<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ section.title }}Punk Konzis{% endblock %}</title>
    </head>

    <body>
        <header>
            Header
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Events</a></li>
                    <li>Venues</li>
                    <li>Bands</li>
                </ul>
            </nav>
        </header>

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>

        <footer>
            <p>Footer</p>
        </footer>
    </body>
</html>
